#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export GOARCH = $(DEB_HOST_ARCH_CPU)
export GOOS = $(DEB_HOST_ARCH_OS)
export GOCACHE = $(CURDIR)/debian/.build/.cache/go-build

%:
	dh $@

override_dh_auto_configure:
	:

override_dh_auto_build:
	go build -ldflags="-s -w -X main.version=$(DEB_VERSION_UPSTREAM)" -mod=vendor -o debian/.build/onmetal-image ./cmd

override_dh_auto_test:
	go test -v -mod=vendor ./cmd

override_dh_auto_install:
	:

