#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export GOARCH = $(DEB_HOST_ARCH_CPU)
export GOOS = $(DEB_HOST_ARCH_OS)

%:
	dh $@

override_dh_auto_configure:
	:

override_dh_auto_build:
	go build -ldflags="-s -w -X main.version=$(DEB_VERSION_UPSTREAM)" -mod=vendor -o debian/.build/onmetal-image ./cmd

override_dh_auto_test:
	go test -v -mod=vendor ./cmd

override_dh_auto_install:
	:

